@media screen and (max-width: 768px) {
	.navbar-brand>img {
	    width: 140px;
	}
	#svg_logo {
		width: 140px;
		top: -15px;
	}
	#svg_logo path {
		stroke-width: 3px;
	}
	.svg-earth-pattern img.animate-earth-small {
		width: 300px;
	}
	.svg-earth-pattern img.animate-earth-large {
		width: 500px;
	}
	.navbar-nav .open .dropdown-menu {
		margin: 0;
		padding: 0px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		background: #4d89e2;
		color: #fff;
	}
	.wpr .panel.panel-default {
		margin-right: 0px !important;
	}
}
@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	    margin-left: -15px;
	}
}
@media screen and (max-width: 640px) {
	.slider .lang img {
		width: 60px;
	}
	.slider .hexa.left {
		top: 55px;
		max-width: 350px !important;
		left: -10% !important;
	}
	#slider-header {
		height: 26px;
		top: 6px;
	}
	#slider-header path {
		stroke-width: 6px !important;
	}
	.heading-text {
		font-size: 44px;
		margin-bottom: 25px;
	}
	.svg-earth-pattern img.animate-earth-small {
		width: 250px;
	}
	.svg-earth-pattern img.animate-earth-large {
		width: 400px;
	}
}



