@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,500';
@import 'media.css';

body {
	font-family: "Roboto", sans-serif;
	background: #F5F8FA;
	padding-top: 60px;
	font-size: 15px;
	color: #546E7A;
}
p {
	font-size: 15px;
	font-weight: 300
}
a {
	color: #607D8B;
}
h1 {
	font-size: 48px;
}
h1,h4 {
	font-weight: 100 !important
}
h2 {
	font-weight: 300
}
h3 {
	font-weight: 300
}
iframe {
	max-width: 100%;
}

/* Nav */
.navbar-default {
	background: #455A64;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color: #B0BEC5;
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-default .navbar-brand {
	font-weight: 500
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: #546E7A;
	color: #CFD8DC;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	background: #546E7A;
	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #fff
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background: #4d89e2;
}
.navbar-collapse {
	box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 0px;
}

/* Tab */

.tab-content {
	padding-top: 15px;
}
.nav.nav-pills,
.nav-tabs {
	background: #fff;
	border: 1px solid #ECEFF1;
}
.nav.nav-stacked,
.nav.nav-pills li a,
.nav-tabs li a {
	font-size: 15px;
	font-weight: 300;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 0px;
}
.nav.nav-stacked span:before {
	color: #448AFF;
}
.nav.nav-stacked span {
	margin-right: 8px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover,
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background: #448AFF;
	color: #fff;
	border-color: #448AFF;
}
.thumbnail {
	border-color: #448AFF;
}
.nav.custom-tabs.custom-tabs {
	border: none;
	border-bottom: 1px solid #ECEFF1;
	padding-left: 10px;
}
.nav.custom-tabs.custom-tabs >li >a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav.custom-tabs.custom-tabs >li.active>a {
	background: #CFD8DC !important;
	color: #333;
	border-color: #CFD8DC;
}
/* buttons */
.btn {
	border-radius: 25px;
	padding-right: 20px;
	padding-left: 20px;
}
.btn-primary {
	background: #2979FF;
	border-color: #2979FF;
}
.btn-primary:hover {
	background: #4d89e2;
	border-color: #4d89e2;
}

/* Panel */
.wpr .panel.panel-default {
	margin-right: -15px;
}
.panel {
	border-radius: 0px
}
.panel-default>.panel-heading {
	background: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 0px;
	border-color: #ECEFF1;
}
.panel-title {
	font-weight: 300;
	font-size: 24px;
	color: #455A64;
	display: inline-block;
}
.panel-default {
	border-color: #ECEFF1;
}
.panel-title .glyphicon {
	top: 3px;
}
.panel-body {
	padding: 25px;
}
.nav-tabs .active .glyphicon {
	color: #fff;
}
.glyphicon {
	top: 2px;
	margin-right: 10px;
	color: #CFD8DC;
}
.nav-tabs>li>a {
	margin-right: 0px;
}
.nav-tabs>li>a:hover {
    border-color: #5495ff;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #5495ff;
    color: #fff;
    transition: all 200ms ease-in-out; 
}
.nav>li>a:focus, .nav>li>a:hover span {
	color: #fff;
}