
/* Ripple Out */

@keyframes hvr-ripple-out
{
    100%
    {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;

        opacity: 0;
    }
}
.hvr-ripple-out
{
    position: relative;

    display: inline-block;
    transform: translateZ(0);
    vertical-align: middle;

    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-ripple-out:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';
    animation-duration: 1s;

    opacity: 0;
    border: #448AFF solid 1px;
    border-radius: 25px;
}
.hvr-ripple-out.hvr-ripple-rounded:before {
    border-radius: 100%;
    border-color: #82B1FF !important;
    border-width: 2px !important
}
.hvr-ripple-out.btn-default:before {
    border-color: #adadad;
}
.hvr-ripple-out.btn-primary:before
{
    border-color: #448AFF;
}
.hvr-ripple-out:hover:before,
.hvr-ripple-out:focus:before,
.hvr-ripple-out:active:before
{
    animation-name: hvr-ripple-out;
    animation-iteration-count: infinite;

    opacity: 1;
}

.hvr-active:hover .overlay .hvr-ripple-out:before,
.hvr-active:focus .overlay .hvr-ripple-out:before,
.hvr-active:active .overlay .hvr-ripple-out:before
{
    animation-name: hvr-ripple-out;
    animation-iteration-count: infinite;
    opacity: 1;
}
/* Float Shadow */
.hvr-float-shadow
{
    position: relative;

    display: inline-block;
    transition-duration: .75s;
    transition-property: transform;
    transform: translateZ(0);
    vertical-align: middle;

    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-float-shadow:before
{
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 5%;

    width: 90%;
    height: 10px;

    content: '';
    /* W3C */
    transition-duration: .75s;
    transition-property: transform, opacity;
    pointer-events: none;

    opacity: 0;
    background:         radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active
{
    transform: translateY(-15px);
    /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before
{
    transform: translateY(5px);

    opacity: 1;
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


.overlay {
    overflow: hidden;
}
.panel-default:hover .overlay img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.overlay img {
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
}